body {
  margin: 0;
  font-family: "CircularStd",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a.long-view{
text-decoration: underline !important;
cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
}
.modal-logo{
  height: 30px !important;
  // float: left;
  // display: inline-flex;
  // align-self: flex-start;
  // display: none;
}

tr.line_entries th,td{
font-size: 12px;
padding-bottom: 0 !important;
}

.line_entries_footer{
  border-top: 2px black solid;
  border-bottom: 2px black solid
}

.entries_footer{
  // border-bottom: 1px black solid !important;

}

th.text-muted{
  color: darkgrey !important;
}

.dash{
  border-top:1px solid black;
  margin-top:20px
}
.dash-2{
  border-top:0.5px solid black;
  border-bottom:0.5px solid black;
  height:2px
}

.dash-mid{
  border-top:1px dashed black;
  margin-top:20px
}

.dash-mid-2{
  border-top:0.5px dashed black;
  border-bottom:0.5px dashed black;
  height:2px
}
.line_edit{
  border-top: 2px solid rgb(23,162,184) !important;
}
.sub_row,.sub_row th{
  border-bottom:2px solid darkgrey !important;

}

.inner_cell, .inner_cell td{
  padding-left: 0 !important;
  margin-left:  0 !important;

}
table table {
  width: 100% !important;
}

.form_sticky{
  z-index: 400;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.layout-sidebar-large .main-header .logo img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    z-index: 500
}

.layout-sidebar-large .sidebar-left-secondary.open {
    left: 120px;
    z-index: 450;
    width: 220px;
    padding: 0.75rem 0;
    transition: all 0.24s ease-in-out;
    background: #fff;
}

.layout-sidebar-large .sidebar-left-secondary {
    left: 120px;
    z-index: 455;
    width: 220px;
    padding: 0.75rem 0;
    transition: all 0.24s ease-in-out;
    background: #fff;
}


.css-9gakcf-option{ // forces the dropdown list options to be visible
  background-color: white !important;
  color: black !important;
}



.table td.no_padding, .table tr.no_top {
    padding: 0 0.75rem 0.75rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

}

tr.divide_row th, tr.divide_row td {
  border-bottom: 1px solid black;
}

a.underline{
  text-decoration: underline;
}

.hover{
  cursor: pointer;
}

.skewX{
  transform: skewX(45deg);
}

.auth-right{
  background:
  -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 0%),
 -webkit-linear-gradient(-52deg, rgba(36,47,106, 0.9) 57%, rgb(23,162,184) 0%);
}


.full-screen{
  height: 100vh;
  align-items:center;
}

.css-df17o1{
  background:
  -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 0%),
 -webkit-linear-gradient(-52deg, rgba(36,47,106, 0.9) 55%, rgb(23,162,184) 0%) !important;
}

.small-spin{
  font-size: 5px !important;
}

.drag{
  cursor: grab !important;
  // height:80px;
  border-bottom: 3px solid rgb(23,162,184) !important;
}

@keyframes blink {
  0%, 100% { opacity: 0; } /* more concise! */
  50% { opacity: 1; }
}

.live {
  animation: blink 2s infinite;
}

.operator {
vertical-align: top;
text-align: left;
position: absolute;
margin-top: -10px !important;
margin-left: -1.5rem !important;
// padding: -20px !important;
background:grey !important;
color: white;
border:2px outset grey;
}

.operator .minus {
// vertical-align: top;
// text-align: left;
// position: absolute;
// margin-top: -10px !important;
// margin-left: -1rem !important;
// // padding: -20px !important;
// background:grey !important;
// color: white;
// border:2px outset grey;
margin-left: 1rem;
// position: absolute;
}

.faulty{
  border-bottom: 3px solid rgb(234,64,52) !important;
}

.list-group-item.bl {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125) !important;
    border-top: 1.5px solid rgba(0, 0, 0, 0.125) !important;
}

.success-border{
  border:1px solid rgb(76,175,80) !important
  }
